#main{
	position: relarive;
	overflow: hidden;
	width:810px;
	height: 950px;
	background-image:url("../img/background.jpg");
}
.header{
	left: 0;
	right: 0;
	padding-left: 40px;
	padding-right: 40px;
}
.logo{
	position: absolute;
	left: 340px;
	top: -10px;
}
.menu{
	float: left;
	text-align: center;
	width: 20%;
}
.menuClick{
	padding-top: 70px;
	cursor: pointer;
}

/*happenings*/
#createYourEpisode{
	margin-top: 10px;
}
.nationalNew{
	margin-left: 60px;
	margin-right: 60px;
}
.nationalNew h3{
	color: red;
	font-size: 16px;
	font-family: Gotham Bold !important;
}
.slide{
	width: 810px;
	height: 150px;
	position: relative;
	overflow: hidden;
}
.hashtag{
	width: 10000px;
	height: 100px;
	position: absolute;
}
.tagList{
	width: 266px;
	height: 126px;
	margin: 25px;
	padding: 10px;
	float: left;
	background-image: url("../img/happenings/tag.png");
}
.backButton{
	margin-left: -15px;
}
.nextButton{
	margin-right: -15px;
}


/*Upload*/
.music{
	width: 620px;
	height: 225px;
	margin-left: 97px;
	margin-top: 60px;
	padding-top: 1px;
	background-image: url("../img/upload/musicBackground.png");
}
.musicPlayer{
	width: 590px;
	height: 130px;
	background-color: #f5f5f5;
	margin-top: 80px;
	margin-left: -6px;
}
.playMusic{
	float: left;
}
.downloadMusic{
	padding-left: 10px;
}

.gallery{
	margin-left: 30px;
	margin-right: 30px;
}
.photo{
	padding: 0px;
	border: 0px;
	border-radius: 0px;
}

/*SSD*/
.ytplayer{
	margin-left: 0px;
	margin-right: 0px;
	padding-top: 119px;
}
.ssd{
	background-color: #120600; 
	width: 100%;
	height: 400px;
	margin-top: -5px;
	border-top-style: solid;
	border-top-color: #c3c2c0;
	border-top-width: 2px;
}
.photo_ssd{
	padding-top: 30px;
}
.title_ssd{
	color: white;
	padding-top: 60px;
	font-family: Blanch !important;
	font-size: 50px;
	line-height: 30px;
}
.text_ssd{
	color: white;
	padding-top: 15px;
	padding-left: 30px;
	font-family: Gotham Book !important;
	font-size: 12px;
}

.footer{
	position: absolute;
	bottom: 10px;
	margin-left: 200px;
}