body{
	background-image: "img/background.jpg";
}
.content{
	width:810px;
	height: 1000px;
	background-color: #C1D458;
}
.slide{
	width: 810px;
	height: 100px;
	position: relative;
	overflow: hidden;
}
.hashtag{
	width: 10000px;
	height: 100px;
	position: absolute;
	/*z-index: 1;*/
}
.tagList{
	background-color: #E1E1E1;
	width: 200px;
	height: 100px;
	margin: 25px;
	float: left;
}
.button{
	/*position: absolute;*/
	/*z-index: 2;*/
}
.gallery{
	margin-left: 30px;
	margin-right: 30px;
}
.photo{
	padding: 0px;
	border: 0px;
	border-radius: 0px;
}